<p-dialog #dialog header="Chỉnh sửa đợt đồ án" [(visible)]="isShow" [modal]="true"
  [styleClass]="'ag-modal force-full-width'" [style]="{'width': '1200px'}" closeIcon="ci ci-close"
  maximizeIcon="ci ci-maximize" minimizeIcon="ci ci-minimize" [maximizable]="true" [autoZIndex]="true">
  <div class="col-12 md:col-12">
    <form #formElement [formGroup]="formGroup">
      <div>
        <validation-summary #validationSummary [formElement]="formElement" [formGroup]="formGroup">
        </validation-summary>
      </div>

      <div class="col-12 md:col-12 p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="name">Tên đợt đồ án <span style="color: red;">*</span></label>
          <input type="text" pInputText [(ngModel)]="itemDetail.name" autocomplete="off"
            formControlName="name">
        </div>
        <div class="field col-12 md:col-6">
          <label for="beginDate">Ngày bắt đầu <span style="color: red;">*</span></label>
          <p-calendar appendTo="body" [(ngModel)]="itemDetail.beginDate" formControlName="beginDate" dateFormat="dd/mm/yy" />
        </div>
        <div class="field col-12 md:col-6">
          <label for="endDate">Ngày kết thúc <span style="color: red;">*</span></label>
          <p-calendar appendTo="body" [(ngModel)]="itemDetail.endDate" formControlName="endDate" dateFormat="dd/mm/yy" />
        </div>
        <div class="field col-12 md:col-6">
          <label for="idTeacher">Giảng viên tham gia<span style="color: red;">*</span></label>
          <p-multiSelect [options]="listTeacher" dropdownIcon="ci ci-chevron-down-1"
            appendTo="body" [(ngModel)]="itemDetail.idTeacher" formControlName="idTeacher" [filter]="true" filterBy="label,value">
          </p-multiSelect>
        </div>
        <div class="field col-12 md:col-6">
          <label for="idStudent">Sinh viên tham gia<span style="color: red;">*</span></label>
          <p-multiSelect [options]="listStudent" dropdownIcon="ci ci-chevron-down-1"
            appendTo="body" [(ngModel)]="itemDetail.idStudent" formControlName="idStudent" [filter]="true" filterBy="label,value">
          </p-multiSelect>
        </div>
        <div class="field col-12 md:col-6">
          <label for="idProjetcs">Đề tài sử dụng<span style="color: red;">*</span></label>
          <p-multiSelect [options]="listProjetcs" dropdownIcon="ci ci-chevron-down-1"
            appendTo="body" [(ngModel)]="itemDetail.idProjetcs" formControlName="idProjetcs" [filter]="true" filterBy="label,value">
          </p-multiSelect>
        </div>
      </div>
    </form>
  </div>
  <p-footer>
    <div class="col-12 md:col-12">
      <div class="col-8 md:col-8 fl h-text-left">
      </div>
      <div class="col-4 md:col-4 fr">
        <button pButton pRipple type="button" label="{{'BUTTON.SAVE_CLOSE' | translate}}" icon="pi pi-save"
          [disabled]="submitting" class="p-button mr-2 mb-2" (click)="saveAndClose()"></button>
<!-- 
        <button pButton pRipple type="button" label="{{'BUTTON.SAVE_CONTINUE' | translate}}" icon="pi pi-save"
          [disabled]="submitting" class="p-button mr-2 mb-2" (click)="save()"></button> -->
      </div>
    </div>
  </p-footer>
</p-dialog>