<div class="page-content-area" style="overflow-y: auto;">
  <div class="page-content-area__header">
    <div class="page-title-area">
      <div class="page-title-area__left-block">
        <h1 class="page-title">
          QUẢN LÝ ĐỒ ÁN CÁ NHÂN
        </h1>
      </div>
    </div>
  </div>
  <div style="margin: 5px;">
    <form #formElement [formGroup]="formGroup">
      <div class="col-12 md:col-12">
        <validation-summary #validationSummary [formElement]="formElement" [formGroup]="formGroup">
        </validation-summary>
      </div>
      <div class="col-12 md:col-12 p-fluid p-formgrid grid">
        <div class="field col-12 md:col-3">
          <label for="keyword">Tìm kiếm</label>
          <input type="text" pInputText [(ngModel)]="keyword" autocomplete="off"
            formControlName="keyword">
        </div>
        <div class="field col-12 md:col-3">
          <label for="projectBatch">Đợt đồ án <span style="color: red;">*</span></label>
          <p-dropdown [options]="listprojectBatch" [(ngModel)]="projectBatch" formControlName="projectBatch" appendTo="body">
          </p-dropdown>
        </div>
        <div class="field col-12 md:col-1 " authorize="">
          <p-button [outlined]="true" (click)="search()"
          [style]="{'margin-top': '25px','max-width':'100%','max-height':'50%', 'text-align':'center'}"
          icon="pi pi-search" label="Lọc"></p-button>
        </div>
        <div class="field col-12 md:col-1" authorize="">
          <p-button [outlined]="true" (click)="onAdd()"
            [style]="{'margin-top': '25px','width':'100%','max-height':'50%', 'text-align':'center'}"
            icon="pi pi-plus" label="Nộp bài"></p-button>
        </div>
        <div class="field col-12 md:col-1" authorize="">
          <p-button [outlined]="true" (click)="exportExcel()"
            [style]="{'margin-top': '25px','width':'100%','max-height':'50%', 'text-align':'center'}"
            icon="pi pi-file-excel" label="Export Excel"></p-button>
        </div>
      </div>
    </form>
  </div>
  <div class="body" style="margin: 5px;">
    <div class="data-view-main-action-area__right-block">
      <div class="h-mb-8">
        {{(pageIndex -1) * pageSize + 1}} - {{pageIndex * pageSize}} {{'LIST.OFF' | translate}}
        {{totalRecord}}
      </div>
      <button pButton pRipple type="button" icon="pi pi-angle-left" (click)="onPrePage()" [disabled]="pageIndex == 1"
        class="p-button-rounded p-button-text mr-2 mb-2"></button>
      <button pButton pRipple type="button" icon="pi pi-angle-right" (click)="onNextPage()"
        [disabled]="pageIndex > totalRecord / pageSize" class="p-button-rounded p-button-text mr-2 mb-2"></button>
      <button pButton pRipple type="button" icon="ci ci-data-1" (click)="visibleCols.toggle($event)"
        class="p-button-rounded p-button-text mr-2 mb-2"></button>
      <p-overlayPanel #visibleCols [hideTransitionOptions]="'0ms'" [showTransitionOptions]="'0ms'" appendTo="body"
        styleClass="ag-overlay-menu style-2">
        <div class="ag-overlay-menu__title">
          <span (click)="resetColsVisibility()" class="ag-overlay-menu__clear-btn">
            {{getVisibleColsNumber()}}
            <span class="ag-overlay-menu__clear-icon ci ci-close"></span>
          </span>

          <span class="__text">
            {{'LIST.COLS_SELECTED' | translate}}
          </span>
        </div>

        <div *ngFor="let col of cols" [class.-activated]="col.visible" class="ag-overlay-menu__item-wrapper">
          <div class="ag-overlay-menu__item">
            <p-checkbox [(ngModel)]="col.visible" [label]="col.header" binary="true" (click)="onSelectedVisible()">
            </p-checkbox>
          </div>
        </div>
      </p-overlayPanel>
    </div>
    <div class="table-wrapper setpading">
      <p-table [columns]="cols" [value]="dataSource" [rows]="pageSize" [totalRecords]="totalRecord" [customSort]="true"
      [scrollHeight]="'80vh'" [scrollable]="true" (onSort)="onSort($event)" (onPage)="onPage($event)"
      [tableStyle]="{ 'min-width': setWidth, 'width': 'auto !important' }" [loading]="isLoading" [lazy]="true"
      styleClass="p-datatable-gridlines">
        <ng-template pTemplate="colgroup">
          <colgroup>

            <ng-container *ngFor="let col of cols">
              <col [style.width]="col.width ? col.width : 'auto'" [hidden]="!col.visible" />
            </ng-container>
          </colgroup>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <ng-container *ngFor="let col of columns">
              <th *ngIf="col.sort" [hidden]="!col.visible" [pSortableColumn]="col.field">
                <div class="h-flex-el -h-space-between">
                  <div class="h-overflow-break-word">{{ col.header }}</div>
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </div>
              </th>

              <th *ngIf="!col.sort" [hidden]="!col.visible">
                <div class="h-overflow-break-word">{{ col.header }}</div>
              </th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
          <tr [class.ag-tr-status]="rowData.status" [class.ag-tr-status-danger]="rowData.status === 3"
            [class.ag-tr-status-warning]="rowData.status === 2" [class.ag-tr-status-success]="rowData.status === 1">
            <td *ngFor="let col of columns" [hidden]="!col.visible" [ngSwitch]="col.field">
              <span *ngSwitchCase="'stt'">{{(pageIndex - 1) * pageSize + rowIndex + 1}}</span>
              <span *ngSwitchCase="'resources'">
                <!-- <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-text"
                  (click)="onView()" pTooltip="Xem trước file PDF"></button> -->
                <button pButton pRipple type="button" icon="pi pi-file-pdf" class="p-button-rounded p-button-text"
                  (click)="downloadFile(rowData,'pdf')" pTooltip="File PDF"></button>
                <button pButton pRipple type="button" icon="pi pi-file" style="color: orange"
                  class="p-button-rounded p-button-text" (click)="downloadFile(rowData,'ppt')"
                  pTooltip="File pptx"></button>
                <button pButton pRipple type="button" icon="pi pi-code" style="color: black"
                  class="p-button-rounded p-button-text" (click)="downloadFile(rowData, 'source')"
                  pTooltip="Source Code"></button>
              </span>
              <span *ngSwitchCase="'status'">
                <span *ngIf="rowData.status === 1" class="status-success">Đã phê duyệt </span>
                <span *ngIf="rowData.status === 2" class="status-warning">Không phê duyệt</span>
                <span *ngIf="rowData.status === 3" class="status-warning">Nộp lại</span>
                <span *ngIf="rowData.status === 4" class="status-warning">Đã nộp</span>
                <span *ngIf="rowData.status === null || rowData.status === undefine" class="status-danger">Chưa nộp</span>
              </span>
              <!-- <span *ngSwitchCase="'action'">
                <button pButton pRipple type="button" icon="ci ci-edit" class="p-button-rounded p-button-text"
                  (click)="onEdit(rowData)" pTooltip="{{'BUTTON.EDIT' | translate }}"></button>
                <button pButton pRipple type="button" icon="pi pi-trash" style="color: red"
                  class="p-button-rounded p-button-text" (click)="onDelete(rowData)"
                  pTooltip="Xoá"></button>
              </span> -->
              <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<app-add-personal-project-management (closePopup)="search()" #pCreate></app-add-personal-project-management>
<app-edit-references-file-manager (closePopup)="search()" #pEdit></app-edit-references-file-manager>
<app-view-personal-project-management (closePopup)="search()" #pView></app-view-personal-project-management>